body {
    font-family: sans-serif;
    background-color: rgb(187, 213, 214);
}

h1 {
    text-align: center;
    font-size: 24px;
    
}

.container {
    background-color: cornsilk;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px

}

.generator {
    width: 100%;
    height: 100%;
}

.btn  {
    float: left
}